# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
space_after_anon_function = true

# file type specific overrides
# unset will result in using the editor default
[*.md]
trim_trailing_whitespace = false
indent_size = 4

[*.js]
quote_type = "double"
indent_style = tab
indent_size = unset
